*.swp
*.o
tools/SPTK-3.9/Makefile
tools/SPTK-3.9/autom4te.cache/
tools/SPTK-3.9/bin/Makefile
tools/SPTK-3.9/bin/acep/.deps/
tools/SPTK-3.9/bin/acep/.dirstamp
tools/SPTK-3.9/bin/acep/Makefile
tools/SPTK-3.9/bin/acep/acep
tools/SPTK-3.9/bin/acorr/.deps/
tools/SPTK-3.9/bin/acorr/.dirstamp
tools/SPTK-3.9/bin/acorr/Makefile
tools/SPTK-3.9/bin/acorr/acorr
tools/SPTK-3.9/bin/agcep/.deps/
tools/SPTK-3.9/bin/agcep/.dirstamp
tools/SPTK-3.9/bin/agcep/Makefile
tools/SPTK-3.9/bin/agcep/agcep
tools/SPTK-3.9/bin/amcep/.deps/
tools/SPTK-3.9/bin/amcep/.dirstamp
tools/SPTK-3.9/bin/amcep/Makefile
tools/SPTK-3.9/bin/amcep/amcep
tools/SPTK-3.9/bin/average/.deps/
tools/SPTK-3.9/bin/average/.dirstamp
tools/SPTK-3.9/bin/average/Makefile
tools/SPTK-3.9/bin/average/average
tools/SPTK-3.9/bin/b2mc/.deps/
tools/SPTK-3.9/bin/b2mc/.dirstamp
tools/SPTK-3.9/bin/b2mc/Makefile
tools/SPTK-3.9/bin/b2mc/b2mc
tools/SPTK-3.9/bin/bcp/.deps/
tools/SPTK-3.9/bin/bcp/Makefile
tools/SPTK-3.9/bin/bcp/bcp
tools/SPTK-3.9/bin/bcut/.deps/
tools/SPTK-3.9/bin/bcut/Makefile
tools/SPTK-3.9/bin/bcut/bcut
tools/SPTK-3.9/bin/c2acr/.deps/
tools/SPTK-3.9/bin/c2acr/.dirstamp
tools/SPTK-3.9/bin/c2acr/Makefile
tools/SPTK-3.9/bin/c2acr/c2acr
tools/SPTK-3.9/bin/c2ir/.deps/
tools/SPTK-3.9/bin/c2ir/.dirstamp
tools/SPTK-3.9/bin/c2ir/Makefile
tools/SPTK-3.9/bin/c2ir/c2ir
tools/SPTK-3.9/bin/c2ndps/.deps/
tools/SPTK-3.9/bin/c2ndps/Makefile
tools/SPTK-3.9/bin/c2ndps/c2ndps
tools/SPTK-3.9/bin/c2sp/.deps/
tools/SPTK-3.9/bin/c2sp/.dirstamp
tools/SPTK-3.9/bin/c2sp/Makefile
tools/SPTK-3.9/bin/c2sp/c2sp
tools/SPTK-3.9/bin/cat2/.deps/
tools/SPTK-3.9/bin/cat2/Makefile
tools/SPTK-3.9/bin/cat2/cat2
tools/SPTK-3.9/bin/cdist/.deps/
tools/SPTK-3.9/bin/cdist/Makefile
tools/SPTK-3.9/bin/cdist/cdist
tools/SPTK-3.9/bin/clip/.deps/
tools/SPTK-3.9/bin/clip/.dirstamp
tools/SPTK-3.9/bin/clip/Makefile
tools/SPTK-3.9/bin/clip/clip
tools/SPTK-3.9/bin/da/.deps/
tools/SPTK-3.9/bin/da/Makefile
tools/SPTK-3.9/bin/da/da
tools/SPTK-3.9/bin/da/dawrite
tools/SPTK-3.9/bin/dct/.deps/
tools/SPTK-3.9/bin/dct/.dirstamp
tools/SPTK-3.9/bin/dct/Makefile
tools/SPTK-3.9/bin/dct/dct
tools/SPTK-3.9/bin/decimate/.deps/
tools/SPTK-3.9/bin/decimate/Makefile
tools/SPTK-3.9/bin/decimate/decimate
tools/SPTK-3.9/bin/delay/.deps/
tools/SPTK-3.9/bin/delay/Makefile
tools/SPTK-3.9/bin/delay/delay
tools/SPTK-3.9/bin/delta/.deps/
tools/SPTK-3.9/bin/delta/Makefile
tools/SPTK-3.9/bin/delta/delta
tools/SPTK-3.9/bin/df2/.deps/
tools/SPTK-3.9/bin/df2/.dirstamp
tools/SPTK-3.9/bin/df2/Makefile
tools/SPTK-3.9/bin/df2/df2
tools/SPTK-3.9/bin/dfs/.deps/
tools/SPTK-3.9/bin/dfs/.dirstamp
tools/SPTK-3.9/bin/dfs/Makefile
tools/SPTK-3.9/bin/dfs/dfs
tools/SPTK-3.9/bin/dmp/.deps/
tools/SPTK-3.9/bin/dmp/Makefile
tools/SPTK-3.9/bin/dmp/dmp
tools/SPTK-3.9/bin/ds/.deps/
tools/SPTK-3.9/bin/ds/Makefile
tools/SPTK-3.9/bin/ds/ds
tools/SPTK-3.9/bin/dtw/.deps/
tools/SPTK-3.9/bin/dtw/Makefile
tools/SPTK-3.9/bin/dtw/dtw
tools/SPTK-3.9/bin/echo2/.deps/
tools/SPTK-3.9/bin/echo2/Makefile
tools/SPTK-3.9/bin/echo2/echo2
tools/SPTK-3.9/bin/excite/.deps/
tools/SPTK-3.9/bin/excite/Makefile
tools/SPTK-3.9/bin/excite/excite
tools/SPTK-3.9/bin/extract/.deps/
tools/SPTK-3.9/bin/extract/Makefile
tools/SPTK-3.9/bin/extract/extract
tools/SPTK-3.9/bin/fd/.deps/
tools/SPTK-3.9/bin/fd/Makefile
tools/SPTK-3.9/bin/fd/fd
tools/SPTK-3.9/bin/fft/.deps/
tools/SPTK-3.9/bin/fft/.dirstamp
tools/SPTK-3.9/bin/fft/Makefile
tools/SPTK-3.9/bin/fft/fft
tools/SPTK-3.9/bin/fft2/.deps/
tools/SPTK-3.9/bin/fft2/.dirstamp
tools/SPTK-3.9/bin/fft2/Makefile
tools/SPTK-3.9/bin/fft2/fft2
tools/SPTK-3.9/bin/fftcep/.deps/
tools/SPTK-3.9/bin/fftcep/.dirstamp
tools/SPTK-3.9/bin/fftcep/Makefile
tools/SPTK-3.9/bin/fftcep/fftcep
tools/SPTK-3.9/bin/fftr/.deps/
tools/SPTK-3.9/bin/fftr/.dirstamp
tools/SPTK-3.9/bin/fftr/Makefile
tools/SPTK-3.9/bin/fftr/fftr
tools/SPTK-3.9/bin/fftr2/.deps/
tools/SPTK-3.9/bin/fftr2/.dirstamp
tools/SPTK-3.9/bin/fftr2/Makefile
tools/SPTK-3.9/bin/fftr2/fftr2
tools/SPTK-3.9/bin/fig+fdrw/.deps/
tools/SPTK-3.9/bin/fig+fdrw/Makefile
tools/SPTK-3.9/bin/fig+fdrw/fdrw
tools/SPTK-3.9/bin/fig+fdrw/fig
tools/SPTK-3.9/bin/frame/.deps/
tools/SPTK-3.9/bin/frame/Makefile
tools/SPTK-3.9/bin/frame/frame
tools/SPTK-3.9/bin/freqt/.deps/
tools/SPTK-3.9/bin/freqt/.dirstamp
tools/SPTK-3.9/bin/freqt/Makefile
tools/SPTK-3.9/bin/freqt/freqt
tools/SPTK-3.9/bin/gc2gc/.deps/
tools/SPTK-3.9/bin/gc2gc/.dirstamp
tools/SPTK-3.9/bin/gc2gc/Makefile
tools/SPTK-3.9/bin/gc2gc/gc2gc
tools/SPTK-3.9/bin/gcep/.deps/
tools/SPTK-3.9/bin/gcep/.dirstamp
tools/SPTK-3.9/bin/gcep/Makefile
tools/SPTK-3.9/bin/gcep/gcep
tools/SPTK-3.9/bin/glsadf/.deps/
tools/SPTK-3.9/bin/glsadf/.dirstamp
tools/SPTK-3.9/bin/glsadf/Makefile
tools/SPTK-3.9/bin/glsadf/glsadf
tools/SPTK-3.9/bin/gmm/.deps/
tools/SPTK-3.9/bin/gmm/.dirstamp
tools/SPTK-3.9/bin/gmm/Makefile
tools/SPTK-3.9/bin/gmm/gmm
tools/SPTK-3.9/bin/gmm/gmmp
tools/SPTK-3.9/bin/gnorm/.deps/
tools/SPTK-3.9/bin/gnorm/.dirstamp
tools/SPTK-3.9/bin/gnorm/Makefile
tools/SPTK-3.9/bin/gnorm/gnorm
tools/SPTK-3.9/bin/grpdelay/.deps/
tools/SPTK-3.9/bin/grpdelay/.dirstamp
tools/SPTK-3.9/bin/grpdelay/Makefile
tools/SPTK-3.9/bin/grpdelay/grpdelay
tools/SPTK-3.9/bin/histogram/.deps/
tools/SPTK-3.9/bin/histogram/.dirstamp
tools/SPTK-3.9/bin/histogram/Makefile
tools/SPTK-3.9/bin/histogram/histogram
tools/SPTK-3.9/bin/idct/.deps/
tools/SPTK-3.9/bin/idct/Makefile
tools/SPTK-3.9/bin/idct/idct
tools/SPTK-3.9/bin/ifft/.deps/
tools/SPTK-3.9/bin/ifft/.dirstamp
tools/SPTK-3.9/bin/ifft/Makefile
tools/SPTK-3.9/bin/ifft/ifft
tools/SPTK-3.9/bin/ifft2/.deps/
tools/SPTK-3.9/bin/ifft2/.dirstamp
tools/SPTK-3.9/bin/ifft2/Makefile
tools/SPTK-3.9/bin/ifft2/ifft2
tools/SPTK-3.9/bin/ifftr/.deps/
tools/SPTK-3.9/bin/ifftr/.dirstamp
tools/SPTK-3.9/bin/ifftr/Makefile
tools/SPTK-3.9/bin/ifftr/ifftr
tools/SPTK-3.9/bin/ignorm/.deps/
tools/SPTK-3.9/bin/ignorm/.dirstamp
tools/SPTK-3.9/bin/ignorm/Makefile
tools/SPTK-3.9/bin/ignorm/ignorm
tools/SPTK-3.9/bin/impulse/.deps/
tools/SPTK-3.9/bin/impulse/Makefile
tools/SPTK-3.9/bin/impulse/impulse
tools/SPTK-3.9/bin/imsvq/.deps/
tools/SPTK-3.9/bin/imsvq/.dirstamp
tools/SPTK-3.9/bin/imsvq/Makefile
tools/SPTK-3.9/bin/imsvq/imsvq
tools/SPTK-3.9/bin/interpolate/.deps/
tools/SPTK-3.9/bin/interpolate/Makefile
tools/SPTK-3.9/bin/interpolate/interpolate
tools/SPTK-3.9/bin/ivq/.deps/
tools/SPTK-3.9/bin/ivq/.dirstamp
tools/SPTK-3.9/bin/ivq/Makefile
tools/SPTK-3.9/bin/ivq/ivq
tools/SPTK-3.9/bin/lbg/.deps/
tools/SPTK-3.9/bin/lbg/.dirstamp
tools/SPTK-3.9/bin/lbg/Makefile
tools/SPTK-3.9/bin/lbg/lbg
tools/SPTK-3.9/bin/levdur/.deps/
tools/SPTK-3.9/bin/levdur/.dirstamp
tools/SPTK-3.9/bin/levdur/Makefile
tools/SPTK-3.9/bin/levdur/levdur
tools/SPTK-3.9/bin/linear_intpl/.deps/
tools/SPTK-3.9/bin/linear_intpl/Makefile
tools/SPTK-3.9/bin/linear_intpl/linear_intpl
tools/SPTK-3.9/bin/lmadf/.deps/
tools/SPTK-3.9/bin/lmadf/.dirstamp
tools/SPTK-3.9/bin/lmadf/Makefile
tools/SPTK-3.9/bin/lmadf/lmadf
tools/SPTK-3.9/bin/lpc/.deps/
tools/SPTK-3.9/bin/lpc/.dirstamp
tools/SPTK-3.9/bin/lpc/Makefile
tools/SPTK-3.9/bin/lpc/lpc
tools/SPTK-3.9/bin/lpc2c/.deps/
tools/SPTK-3.9/bin/lpc2c/.dirstamp
tools/SPTK-3.9/bin/lpc2c/Makefile
tools/SPTK-3.9/bin/lpc2c/lpc2c
tools/SPTK-3.9/bin/lpc2lsp/.deps/
tools/SPTK-3.9/bin/lpc2lsp/.dirstamp
tools/SPTK-3.9/bin/lpc2lsp/Makefile
tools/SPTK-3.9/bin/lpc2lsp/lpc2lsp
tools/SPTK-3.9/bin/lpc2par/.deps/
tools/SPTK-3.9/bin/lpc2par/.dirstamp
tools/SPTK-3.9/bin/lpc2par/Makefile
tools/SPTK-3.9/bin/lpc2par/lpc2par
tools/SPTK-3.9/bin/lsp2lpc/.deps/
tools/SPTK-3.9/bin/lsp2lpc/.dirstamp
tools/SPTK-3.9/bin/lsp2lpc/Makefile
tools/SPTK-3.9/bin/lsp2lpc/lsp2lpc
tools/SPTK-3.9/bin/lsp2sp/.deps/
tools/SPTK-3.9/bin/lsp2sp/.dirstamp
tools/SPTK-3.9/bin/lsp2sp/Makefile
tools/SPTK-3.9/bin/lsp2sp/lsp2sp
tools/SPTK-3.9/bin/lspcheck/.deps/
tools/SPTK-3.9/bin/lspcheck/.dirstamp
tools/SPTK-3.9/bin/lspcheck/Makefile
tools/SPTK-3.9/bin/lspcheck/lspcheck
tools/SPTK-3.9/bin/lspdf/.deps/
tools/SPTK-3.9/bin/lspdf/.dirstamp
tools/SPTK-3.9/bin/lspdf/Makefile
tools/SPTK-3.9/bin/lspdf/lspdf
tools/SPTK-3.9/bin/ltcdf/.deps/
tools/SPTK-3.9/bin/ltcdf/.dirstamp
tools/SPTK-3.9/bin/ltcdf/Makefile
tools/SPTK-3.9/bin/ltcdf/ltcdf
tools/SPTK-3.9/bin/mc2b/.deps/
tools/SPTK-3.9/bin/mc2b/.dirstamp
tools/SPTK-3.9/bin/mc2b/Makefile
tools/SPTK-3.9/bin/mc2b/mc2b
tools/SPTK-3.9/bin/mcep/.deps/
tools/SPTK-3.9/bin/mcep/.dirstamp
tools/SPTK-3.9/bin/mcep/Makefile
tools/SPTK-3.9/bin/mcep/mcep
tools/SPTK-3.9/bin/merge/.deps/
tools/SPTK-3.9/bin/merge/Makefile
tools/SPTK-3.9/bin/merge/merge
tools/SPTK-3.9/bin/mfcc/.deps/
tools/SPTK-3.9/bin/mfcc/.dirstamp
tools/SPTK-3.9/bin/mfcc/Makefile
tools/SPTK-3.9/bin/mfcc/mfcc
tools/SPTK-3.9/bin/mgc2mgc/.deps/
tools/SPTK-3.9/bin/mgc2mgc/.dirstamp
tools/SPTK-3.9/bin/mgc2mgc/Makefile
tools/SPTK-3.9/bin/mgc2mgc/mgc2mgc
tools/SPTK-3.9/bin/mgc2sp/.deps/
tools/SPTK-3.9/bin/mgc2sp/.dirstamp
tools/SPTK-3.9/bin/mgc2sp/Makefile
tools/SPTK-3.9/bin/mgc2sp/mgc2sp
tools/SPTK-3.9/bin/mgcep/.deps/
tools/SPTK-3.9/bin/mgcep/.dirstamp
tools/SPTK-3.9/bin/mgcep/Makefile
tools/SPTK-3.9/bin/mgcep/mgcep
tools/SPTK-3.9/bin/mgclsp2sp/.deps/
tools/SPTK-3.9/bin/mgclsp2sp/Makefile
tools/SPTK-3.9/bin/mgclsp2sp/mgclsp2sp
tools/SPTK-3.9/bin/mglsadf/.deps/
tools/SPTK-3.9/bin/mglsadf/.dirstamp
tools/SPTK-3.9/bin/mglsadf/Makefile
tools/SPTK-3.9/bin/mglsadf/mglsadf
tools/SPTK-3.9/bin/minmax/.deps/
tools/SPTK-3.9/bin/minmax/Makefile
tools/SPTK-3.9/bin/minmax/minmax
tools/SPTK-3.9/bin/mlpg/.deps/
tools/SPTK-3.9/bin/mlpg/.dirstamp
tools/SPTK-3.9/bin/mlpg/Makefile
tools/SPTK-3.9/bin/mlpg/mlpg
tools/SPTK-3.9/bin/mlsacheck/.deps/
tools/SPTK-3.9/bin/mlsacheck/Makefile
tools/SPTK-3.9/bin/mlsacheck/mlsacheck
tools/SPTK-3.9/bin/mlsadf/.deps/
tools/SPTK-3.9/bin/mlsadf/.dirstamp
tools/SPTK-3.9/bin/mlsadf/Makefile
tools/SPTK-3.9/bin/mlsadf/mlsadf
tools/SPTK-3.9/bin/msvq/.deps/
tools/SPTK-3.9/bin/msvq/.dirstamp
tools/SPTK-3.9/bin/msvq/Makefile
tools/SPTK-3.9/bin/msvq/msvq
tools/SPTK-3.9/bin/nan/.deps/
tools/SPTK-3.9/bin/nan/Makefile
tools/SPTK-3.9/bin/nan/nan
tools/SPTK-3.9/bin/ndps2c/.deps/
tools/SPTK-3.9/bin/ndps2c/Makefile
tools/SPTK-3.9/bin/ndps2c/ndps2c
tools/SPTK-3.9/bin/norm0/.deps/
tools/SPTK-3.9/bin/norm0/.dirstamp
tools/SPTK-3.9/bin/norm0/Makefile
tools/SPTK-3.9/bin/norm0/norm0
tools/SPTK-3.9/bin/nrand/.deps/
tools/SPTK-3.9/bin/nrand/.dirstamp
tools/SPTK-3.9/bin/nrand/Makefile
tools/SPTK-3.9/bin/nrand/nrand
tools/SPTK-3.9/bin/par2lpc/.deps/
tools/SPTK-3.9/bin/par2lpc/.dirstamp
tools/SPTK-3.9/bin/par2lpc/Makefile
tools/SPTK-3.9/bin/par2lpc/par2lpc
tools/SPTK-3.9/bin/pca/.deps/
tools/SPTK-3.9/bin/pca/Makefile
tools/SPTK-3.9/bin/pca/pca
tools/SPTK-3.9/bin/pca/pcas
tools/SPTK-3.9/bin/phase/.deps/
tools/SPTK-3.9/bin/phase/.dirstamp
tools/SPTK-3.9/bin/phase/Makefile
tools/SPTK-3.9/bin/phase/phase
tools/SPTK-3.9/bin/pitch/.deps/
tools/SPTK-3.9/bin/pitch/Makefile
tools/SPTK-3.9/bin/pitch/pitch
tools/SPTK-3.9/bin/pitch/snack/.deps/
tools/SPTK-3.9/bin/pitch/snack/.dirstamp
tools/SPTK-3.9/bin/pitch/swipe/.deps/
tools/SPTK-3.9/bin/pitch/swipe/.dirstamp
tools/SPTK-3.9/bin/poledf/.deps/
tools/SPTK-3.9/bin/poledf/.dirstamp
tools/SPTK-3.9/bin/poledf/Makefile
tools/SPTK-3.9/bin/poledf/poledf
tools/SPTK-3.9/bin/psgr/.deps/
tools/SPTK-3.9/bin/psgr/Makefile
tools/SPTK-3.9/bin/psgr/psgr
tools/SPTK-3.9/bin/ramp/.deps/
tools/SPTK-3.9/bin/ramp/Makefile
tools/SPTK-3.9/bin/ramp/ramp
tools/SPTK-3.9/bin/rawtowav/.deps/
tools/SPTK-3.9/bin/rawtowav/Makefile
tools/SPTK-3.9/bin/rawtowav/rawtowav
tools/SPTK-3.9/bin/reverse/.deps/
tools/SPTK-3.9/bin/reverse/.dirstamp
tools/SPTK-3.9/bin/reverse/Makefile
tools/SPTK-3.9/bin/reverse/reverse
tools/SPTK-3.9/bin/rmse/.deps/
tools/SPTK-3.9/bin/rmse/.dirstamp
tools/SPTK-3.9/bin/rmse/Makefile
tools/SPTK-3.9/bin/rmse/rmse
tools/SPTK-3.9/bin/root_pol/.deps/
tools/SPTK-3.9/bin/root_pol/.dirstamp
tools/SPTK-3.9/bin/root_pol/Makefile
tools/SPTK-3.9/bin/root_pol/root_pol
tools/SPTK-3.9/bin/sin/.deps/
tools/SPTK-3.9/bin/sin/Makefile
tools/SPTK-3.9/bin/sin/sin
tools/SPTK-3.9/bin/smcep/.deps/
tools/SPTK-3.9/bin/smcep/.dirstamp
tools/SPTK-3.9/bin/smcep/Makefile
tools/SPTK-3.9/bin/smcep/smcep
tools/SPTK-3.9/bin/snr/.deps/
tools/SPTK-3.9/bin/snr/Makefile
tools/SPTK-3.9/bin/snr/snr
tools/SPTK-3.9/bin/sopr/.deps/
tools/SPTK-3.9/bin/sopr/Makefile
tools/SPTK-3.9/bin/sopr/sopr
tools/SPTK-3.9/bin/spec/.deps/
tools/SPTK-3.9/bin/spec/Makefile
tools/SPTK-3.9/bin/spec/spec
tools/SPTK-3.9/bin/step/.deps/
tools/SPTK-3.9/bin/step/Makefile
tools/SPTK-3.9/bin/step/step
tools/SPTK-3.9/bin/swab/.deps/
tools/SPTK-3.9/bin/swab/Makefile
tools/SPTK-3.9/bin/swab/swab
tools/SPTK-3.9/bin/symmetrize/.deps/
tools/SPTK-3.9/bin/symmetrize/Makefile
tools/SPTK-3.9/bin/symmetrize/symmetrize
tools/SPTK-3.9/bin/train/.deps/
tools/SPTK-3.9/bin/train/Makefile
tools/SPTK-3.9/bin/train/train
tools/SPTK-3.9/bin/transpose/.deps/
tools/SPTK-3.9/bin/transpose/.dirstamp
tools/SPTK-3.9/bin/transpose/Makefile
tools/SPTK-3.9/bin/transpose/transpose
tools/SPTK-3.9/bin/uels/.deps/
tools/SPTK-3.9/bin/uels/.dirstamp
tools/SPTK-3.9/bin/uels/Makefile
tools/SPTK-3.9/bin/uels/uels
tools/SPTK-3.9/bin/ulaw/.deps/
tools/SPTK-3.9/bin/ulaw/.dirstamp
tools/SPTK-3.9/bin/ulaw/Makefile
tools/SPTK-3.9/bin/ulaw/ulaw
tools/SPTK-3.9/bin/us/.deps/
tools/SPTK-3.9/bin/us/Makefile
tools/SPTK-3.9/bin/us/us
tools/SPTK-3.9/bin/us/us16
tools/SPTK-3.9/bin/us/uscd
tools/SPTK-3.9/bin/vc/.deps/
tools/SPTK-3.9/bin/vc/.dirstamp
tools/SPTK-3.9/bin/vc/Makefile
tools/SPTK-3.9/bin/vc/hts_engine_API/.deps/
tools/SPTK-3.9/bin/vc/hts_engine_API/.dirstamp
tools/SPTK-3.9/bin/vc/vc
tools/SPTK-3.9/bin/vopr/.deps/
tools/SPTK-3.9/bin/vopr/Makefile
tools/SPTK-3.9/bin/vopr/vopr
tools/SPTK-3.9/bin/vq/.deps/
tools/SPTK-3.9/bin/vq/.dirstamp
tools/SPTK-3.9/bin/vq/Makefile
tools/SPTK-3.9/bin/vq/vq
tools/SPTK-3.9/bin/vstat/.deps/
tools/SPTK-3.9/bin/vstat/Makefile
tools/SPTK-3.9/bin/vstat/vstat
tools/SPTK-3.9/bin/vsum/.deps/
tools/SPTK-3.9/bin/vsum/Makefile
tools/SPTK-3.9/bin/vsum/vsum
tools/SPTK-3.9/bin/wavjoin/.deps/
tools/SPTK-3.9/bin/wavjoin/.dirstamp
tools/SPTK-3.9/bin/wavjoin/Makefile
tools/SPTK-3.9/bin/wavjoin/wavjoin
tools/SPTK-3.9/bin/wavsplit/.deps/
tools/SPTK-3.9/bin/wavsplit/.dirstamp
tools/SPTK-3.9/bin/wavsplit/Makefile
tools/SPTK-3.9/bin/wavsplit/wavsplit
tools/SPTK-3.9/bin/window/.deps/
tools/SPTK-3.9/bin/window/.dirstamp
tools/SPTK-3.9/bin/window/Makefile
tools/SPTK-3.9/bin/window/window
tools/SPTK-3.9/bin/x2x/.deps/
tools/SPTK-3.9/bin/x2x/Makefile
tools/SPTK-3.9/bin/x2x/x2x
tools/SPTK-3.9/bin/xgr/.deps/
tools/SPTK-3.9/bin/xgr/Makefile
tools/SPTK-3.9/bin/zcross/.deps/
tools/SPTK-3.9/bin/zcross/.dirstamp
tools/SPTK-3.9/bin/zcross/Makefile
tools/SPTK-3.9/bin/zcross/zcross
tools/SPTK-3.9/bin/zerodf/.deps/
tools/SPTK-3.9/bin/zerodf/.dirstamp
tools/SPTK-3.9/bin/zerodf/Makefile
tools/SPTK-3.9/bin/zerodf/zerodf
tools/SPTK-3.9/config.log
tools/SPTK-3.9/config.status
tools/SPTK-3.9/install/
tools/SPTK-3.9/lib/.deps/
tools/SPTK-3.9/lib/libSPTK.a
tools/htk/HTKLib/HTKLib.a
tools/htk/install/
tools/htk/HTKTools/HBuild
tools/htk/HTKTools/HCompV
tools/htk/HTKTools/HCopy
tools/htk/HTKTools/HDMan
tools/htk/HTKTools/HERest
tools/htk/HTKTools/HHEd
tools/htk/HTKTools/HInit
tools/htk/HTKTools/HLEd
tools/htk/HTKTools/HLRescore
tools/htk/HTKTools/HLStats
tools/htk/HTKTools/HList
tools/htk/HTKTools/HMGenS
tools/htk/HTKTools/HMMIRest
tools/htk/HTKTools/HMgeTool
tools/htk/HTKTools/HParse
tools/htk/HTKTools/HQuant
tools/htk/HTKTools/HRest
tools/htk/HTKTools/HResults
tools/htk/HTKTools/HSGen
tools/htk/HTKTools/HSMMAlign
tools/htk/HTKTools/HSmooth
tools/htk/HTKTools/HVite
tools/htk/config.log
tools/htk/config.status

.idea

tools

experiment_50
experiment_100
experiment_200
experiment_500
experiment_1000
